/* span{
    font-family: 'Gorditas', serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
} */

/* .bgc {
    background-color: #f5f5f5;
} */
body {
    font-family: 'Inria Sans', sans-serif;
  }

  nav {
    background-color: #f9f3f3;
    /* padding: 10px; */
    text-align: right;
  }

  nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size:18px;
    font-weight: normal;
  }
   .news a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-size:18px;
    font-weight: normal;
    position: center;
}

       /* .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);

       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;

       }
.pencarian{
    width: 880.018px;
    height: 80px;
    border-radius: 15px;
    border: 0.5px solid #000;
    background: #FAF1E4;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.pencarian button{
    border-radius: 15px;
    border: 0.5px solid #000;
    background: #FAF1E4;
    width: 73.662px;
    height: 80px;
    flex-shrink: 0;
}

.pencarian input{
    background: transparent;
} */

.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

    }

    .search input{
    width: 880.018px;
    height: 80px;
    background-color: #FAF1E4;

     text-indent: 25px;
     border: 2px solid #d6d4d4;


    }


    .search input:focus{

     box-shadow: none;



    }

    .search .fa-search{

     position: absolute;
     top: 33px;
     left: 16px;

    }

    .search button{
     position: absolute;
     top: 15px;
     right: 1px;
     height: 50px;
     width: 110px;
     background: #FAF1E4;
    border-color: black;
    text-decoration: none;
    }
